@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* css reset margin */

*{
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


body {
    font-family: 'Poppins', sans-serif;
    
}

/* Navegacion y header*/

header {

    width: 100%;
    height: 70vh;
    background-image: url(/imagenes/bg-01.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

nav {

    height: 100px;
    max-width: 1200px;
    margin: 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {

    width: 30px;
    margin-left: 20px;
    
}

.bar-btn {

    font-size: 25px;
    color: #fff;
    margin-right: 20%;
    cursor: pointer;
}

.nav-menu {
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 100px;
    background: rgba(79, 0, 116, 0.95);
    text-align: center;
    transition: all 0.5s;
}

.nav-menu li {

    display: none;
    line-height: 30px;
    margin: 50px 0;
    transition: all 0.5s;
}

.nav-menu li a {

    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;

}

.nav-menu li a.active,
.nav-menu li a:hover {

    color: rgb(242, 0, 255);
    transition: 0.3s;
}

#check {

    display: none;

}

#check:checked ~ .nav-menu {

    height: 100vh;
}

#check:checked ~ .nav-menu li {

    display: block;
}

